/* Reset Properties */
* {
    padding: 0;
    margin: 0;
}

/* Variables */


/* Container Style */
div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
}
div.container h1{
    margin: 20px 0;
}

/* Home Section */
div.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    opacity: 1;
    height: auto;
    max-height: 2000px;
}
button{
    padding: 5px;
    border:none;
    background-color: rgba(0,0,0,0.3);
    color:white;
    cursor: pointer;
}
/* Main Buttons */
button.main-button{
    width: 200px;
    padding: 15px;
    margin: 0 0 15px 0;
    background-color: gray;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
}
button.main-button:hover{
    box-shadow: -5px 5px 0 2px rgba(0,0,0,0.2);
}
div.home:last-child{
    margin: 0;
}

/* Meal Plan App Sections */
div.home, div.meal-plan, div.meals-reference, div.reminders, div.settings{
    opacity: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    max-width: 800px;
}
div.show{
    opacity: 1;
    max-height: 10000px;
    height: auto;
    padding: 20px;
}

/* Content Wrapper */
div.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Meal Plan Section */
div.meal-plan div.week-of{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.meal-plan div.week-of *{
    margin: 5px;
}
div.meal-plan div.content-wrapper ul{
    width: 100%;
}
div.meal-plan ul li {
    position:relative;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    outline: 1px solid black;
    display: flex;
    /* flex-direction: row; */
}
div.meal-plan ul li.meal-exists{
    outline: 1px solid blue;
}
div.meal-plan button.main-button{
    margin: 10px auto;
}

/* Meals Reference Section */
ul.filtered-meal-list{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
ul.filtered-meal-list li{
    width: calc(50% - 10px);
    padding: 5px;
}
ul.filtered-meal-list li input[type=radio]{
    margin: 0 5px 0 0;
}
div.meals-reference div.content-wrapper ul li{
    display:flex;
    flex-direction: row;
    justify-content: center;;
}
div.meals-reference div.meal-reference-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
div.meals-reference div.meal-reference-buttons button{
    margin: 0 10px 0 0;
}
div.meals-reference div.meal-reference-buttons button:nth-last-of-type(){
    margin: 0;
}

/* Meal Plan Moal */
div.modal div.add-meal-options,
div.modal div.update-meal-options {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 10px 0; 
}
div.modal div.add-meal-options h2,
div.modal div.update-meal-options h2{
    width: 100%;
    text-align: center;
}
div.modal div.add-meal-options div,
div.modal div.update-meal-options div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

/* Settings Section */
div.settings div.settings-data-container {
    width: 100%;
    padding: 10px;
    z-index: 10;
}
div.settings div.type-selection-list,
div.settings div.season-selection-list {
    max-height: 0;
    opacity: 0;
}
#type-list-ul,
#season-list-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 460px;
    width: 100%;
    position: relative;
}
#type-list-ul li,
#season-list-ul li{
    margin: 5px;
    padding: 5px;
    width: calc(50% - 20px);
    position: relatve;
    list-style: none;
    outline: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
button.season-minimize-btn,
button.type-minimize-btn{
    z-index: 20;
}
div.settings div.type-selection-list.show,
div.settings div.season-selection-list.show{
    max-height: 2000px;
    opacity: 1;
}
/* Dark Mode */
div.dark-mode-container{
    position: relative;
    z-index: 20;
}
label.toggle{
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-color: gray;
    position: relative;
}
label.toggle span.dark-mode-text{
    position:relative;
    margin-left: 5px;
}
label.toggle span.toggle-switch{
    width: 23px;
    height: 23px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    left: 0;
}
label.toggle.on{
    background-color: green;
}
label.toggle.on span.toggle-switch{
    left: 25px;
}
#dark-mode-check{
    display: none;
}
body.dark-mode{
    background-color: black;
    color: white;
}
div.delete-all-data-container{
    z-index: 30;
}
div.download-data-container{
    z-index: 30;
}

/* Overlay/Modals */
div.overlay{
    position:fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
    max-height:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
}
/* div.overlay.show{
    max-height: 2000px;
    opacity: 1;
} */
div.overlay div.modal{
    background-color: gray;  
    outline: 2px solid black;  
    padding: 20px;
    width: 100%;
    max-width: 500px;
}
div.modal h1{
    text-align: center;
}
div.overlay div.modal div.options-section{
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    padding: 0;
    text-align: center;
    opacity: 0;
}
div.overlay div.modal div.options-section.show{
    max-height: 2000px;
    padding: 20px;
    opacity: 1;
}
div.overlay div.modal div.options-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.overlay div.modal div.options-section > div{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
div.overlay div.modal div.options-section:last-child{
    margin: 10px 0 0 0;
}
div.overlay div.modal div.modal-button-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    margin: 0 auto;
}
div.overlay div.modal div.modal-button-container button{
    margin: 0 10px;
    padding: 10px;
    border-radius: 3px;
}

/* Transition */
.transition{
    transition: 0.5s ease;
}